.wrapper{
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.cardContainer{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    width: 100%;
}
.orderForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    margin-left: 50px;
    row-gap: 20px;
    height: 380px;
    width: 350px;
    border: 1px solid rgb(204, 204, 204);
    box-shadow: 0px 0px 10px  rgb(201, 201, 201);
    label {
        display: flex;
        flex-direction: column;
        font-size: 13px;
        color: #303e65;
        font-size: 13px;
        font-weight: 600;
        width: 100%;
    }
    input {
        
        padding: 15px 21px;
        border: 0;
        background-color: #f8faff;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05), inset 0 5px 20px rgba(0, 0, 0, 0.03);
        color: #303e65;
        font-weight: 500;
        outline: none;

        &::placeholder {
            color: #7583aa;
            font-weight: 400;
        }

        &:focus {
            box-shadow: 2px 1px 9px 2px rgba(74, 82, 87, 0.18);
        }

        &:disabled {
            background-color: #e9e9e9;
        }
            
    }
}
.btn{
    width: 200px;
    height: 50px;
}
.total{
    font-weight: 700;
    text-decoration: underline;
}
.loading { 
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.685);
    z-index: 1000;
}