.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 320px;
    width: 200px;
    border: 1px solid rgb(207, 207, 207);
    box-shadow: 0px 0px 10px  rgb(201, 201, 201);
}
.image{
    display: block;
    width: 200px;
    height: 150px;
}
.container{
    display: flex;
    flex-direction: column;  
    height: 100%;
    padding: 10px;
}
.title{
    margin: 0;
    padding: 0;
}
.description {
    max-height: 65px;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0;
}
.addToCart {
    margin-top: auto;
    align-self: center;
    margin-bottom: 10px;
    width: 100%;
}