.btn {
    height: 36px;
    width: 100px;
	position: relative;	
	border: 2px solid #f9cc36;
	font-family: "Proxima Nova Rg", sans-serif;
	font-size: 18px;
	letter-spacing: .3px;
	text-align: center;
	color: #000;
	transform: perspective(1px) translateZ(0);
	transition: color .2s;
    background: none;
	cursor: pointer;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #f9cc36;
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition: transform .3s;
    }
    
    
    &:hover:before {
        transform: scaleX(1);
    }
}

